<!DOCTYPE html>
<html>
<head>
    <title>
        TODO
    </title>
</head>

    <body>
        <table>
            <thead>
                <tr>
                    <th>To-do 목록</th>
                    <th>완료했나요?</th>
                </tr>
            </thead>
        {% for todo in todo %} {% if todo.is_done is False %}
            <thead>
                <tr>
                    <th>{{ todo.tasks }}</th>
                    <th>{{ todo.is_done }}</th>
                </tr>
            </thead>
        {% endif %} {% endfor %}
        </table>
    <h3><a href="/todo">모든 할일 보기</a></h3>
    </body>
</html>